{% extends 'base.html.twig' %}

{% block title %}Travel index{% endblock %}

{% block body %}
    <h1>Travel index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Departure</th>
                <th>Distance_traveled</th>
                <th>Id</th>
                <th>Created</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for travel in travels %}
            <tr>
                <td>{{ travel.title }}</td>
                <td>{{ travel.departure ? travel.departure|date('Y-m-d') : '' }}</td>
                <td>{{ travel.distanceTraveled }}</td>
                <td>{{ travel.id }}</td>
                <td>{{ travel.created ? travel.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('travel_show', {'id': travel.id}) }}">show</a>
                    <a href="{{ path('travel_edit', {'id': travel.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('travel_new') }}">Create new</a>
{% endblock %}
